.hero{
    height: 655px;
    background-image: url(Assets/IMAGE/ab.jpg);
    background-size: cover;
}
@font-face {
    font-family: rubik;
    src: url(/FONTS/Rubik-Regular.ttf);
}
* {
    font-family: rubik;
    position: sticky;
    z-index: 111;
    overflow-x: hidden;
}
.navbar-collapse {
    justify-content: space-between;
}
.text {
    margin-top: 70px;
}
.p-1 {
    display: inline;
    color: white;
    font-family: rubik;
}
h1{
    position: relative;
    color: white;
    text-align: center;
    font-size: 36px;
}
h1::after {
    position: absolute;
    content: '';
    width: 60px;
    height: 2px;
    background-color: white;
    top: 22px;
    right: 380px;
}
h1::before{
    position: absolute;
    content: '';
    width: 60px;
    height: 2px;
    background-color: white;
    top: 22px;
    left: 380px;
}
h2{
    font-size: 80px;
    text-align: center;
    color: white;
}
h5::before {
    content: '';
    position: absolute;
    width: 0px;
    height: 2px;
    border-radius: 20px;
    background-color: rgba(152, 170, 40, 1);
    right: 70px;
    top: 22px;
    transition: .5s ease-in-out;
}
h5:hover::before{
    width: 120px;
}
#p-2 {
    font-size: 25px;
}
#link {
    color: white;
}
p{
    color: rgba(120, 132, 125, 1);
}
h3 {
    color: rgba(37, 61, 50, 1);
}
.left1 {
    height: 250px;
    background-image: url('/Assets/IMAGE/Group\ 1\ \(1\).png'); 
    background-size: cover;
}
#back {
    background-color: rgba(246, 251, 249, 1);
    height: 450px;
}
#button {
    border-color: rgba(163, 185, 56, 1);
}
.footer {
    background-image: url(/Assets/IMAGE/Untitled\ design.png);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 140px;
}
#h3-2{
    font-size: 32px;
    font-weight: 700;
}
.butt {
    background: linear-gradient(328.68deg, #98AA28 13.03%, #D6FF7E 120.61%);
}
.just {
    justify-content: space-between;
}
.butt-1 {
    background: transparent;
    border:1px solid rgba(152, 170, 40, 1);
    color: rgba(152, 170, 40, 1);
}
.butt-1:hover {
    background: linear-gradient(328.68deg, #98AA28 13.03%, #D6FF7E 120.61%);
    border:1px solid rgba(152, 170, 40, 1);
}
input[type=email]:active {
    border: none;
}
#img-6 {
    position: absolute;
    top: 45px;
    left: 470px;
}
#img-7 {
    position: absolute;
    top: 65px;
    left: 90px;
    width: 80px;
}
#img-8 {
    position: absolute;
    top: 300px;
    left: 530px;
    width: 60px;
}
#img-9 {
    position: absolute;
    top: 270px;
    left: 200px;
    width: 30px;
}
#img-10 {
    position: absolute;
    top: 260px;
    left: 430px;
    width: 40px;
}
#img-11 {
    position: absolute;
    top: 200px;
    left: 295px;
}
#img-12 {
    position: absolute;
    top: 200px;
    left: 585px;
}
#img-13 {
    position: absolute;
    top: 200px;
    left: 865px;
}
@media (max-width:576px) {
    h2 {
        font-size: 50px;
    }
    .img {
        margin-top: 20px;
    }
    #back{
        height: 700px;
    }
    #h3-1 {
        font-size: 20px;
    }
    .footer {
        padding: 30px 20px;
        background-image: url('Assets/IMAGE/Group\ 1\ \(1\).png');
    }
    .left {
        flex-direction: column;
    }
    .one {
        margin-top: 20px;
    }
}
@media (max-width:364px) {
    .butt {
        margin-top: 20px;
    }
}
@media (max-width:1200px) {
    h1:before, h1:after {
        display: none;
    }
}
@media (max-width:1324px) {
    #img-6,#img-7,#img-8,#img-9,#img-10 {
        display: none;
    }
    #img-13,#img-11,#img-12{
        display: none;
    }
}
@media (max-width:992px) {
    .row,.main {
        justify-content: center;
        align-items: center;
    }
    .left {
    margin-top: 30px;
    }
}